In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
mouse_csv = "data/mouse_drug_data.csv"
clinical_csv= "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_csv)
clinical_df = pd.read_csv(clinical_csv)
# Combine the data into a single dataset
combined_df =pd.merge(mouse_df,clinical_df,left_on="Mouse ID", right_on = "Mouse ID", how = "outer")
# Display the data table for preview
combined_df

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
...       ...       ...        ...                 ...               ...
1901     j235   Placebo          0           45.000000                 0
1902     j235   Placebo          5           46.588820                 0
1903     j235   Placebo         10           48.018788                 1
1904     j235   Placebo         15           51.161138                 1
1905     j235   Placebo         20           52.942902                 1

[1906 rows x 5 columns]

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
grouped_by_d_t = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean()
grouped_by_d_t

Drug       Timepoint
Capomulin  0            45.000000
           5            44.266086
           10           43.084291
           15           42.064317
           20           40.716325
                          ...
Zoniferol  25           55.432935
           30           57.713531
           35           60.089372
           40           62.916692
           45           65.960888
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [3]:
# Convert to DataFrame
grouped_by_d_t_df = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean().reset_index()
# Preview DataFrame
grouped_by_d_t_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [4]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sem_tumor = combined_df.groupby(["Drug","Timepoint"])[['Tumor Volume (mm3)']].sem()
# Convert to DataFrame
# Preview DataFrame
sem_tumor_df = sem_tumor.reset_index()
sem_tumor_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [5]:
# Minor Data Munging to Re-Format the Data Frames
reformed_sem_df = pd.pivot_table(sem_df,values="Tumor Volume (mm3)", index="Timepoint", columns="Drug" )
# Preview that Reformatting worked
reformed_sem_df

NameError: name 'sem_df' is not defined

In [ ]:
reformed_sem_df2 = pd.pivot_table(grouped_by_d_t_df,values="Tumor Volume (mm3)", index="Timepoint", columns="Drug")
# reformed_sem_df2

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure
reformed_sem_df3 = reformed_sem_df2[['Capomulin',"Infubinol", 'Ketapril','Placebo']]
reformed_sem_df3

In [ ]:
reformed_sem_df3.plot()
plt.title("Tumor Response to Treatment")
plt.xlabel("Time (Days)")
plt.ylabel("")
plt.grid()
plt.show()

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

meta_mean_df = combined_df.groupby(["Drug","Timepoint"])[['Metastatic Sites']].mean()
meta_mean_df

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
sem_meta = combined_df.groupby(["Drug","Timepoint"])[['Metastatic Sites']].sem()
# Convert to DataFrame
sem_meta
# Preview DataFrame

In [ ]:
reformed_sem_meta = pd.pivot_table(sem_df,values="Tumor Volume (mm3)", index="Timepoint", columns="Drug" )

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
# fig.show()

![Metastatic Spread During Treatment](../Images/change.png)