In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
mouse_csv = "data/mouse_drug_data.csv"
clinical_csv= "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_csv)
clinical_df = pd.read_csv(clinical_csv)
# Combine the data into a single dataset
combined_df =pd.merge(mouse_df,clinical_df,left_on="Mouse ID", right_on = "Mouse ID", how = "outer")
# Display the data table for preview
combined_df

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
...       ...       ...        ...                 ...               ...
1901     j235   Placebo          0           45.000000                 0
1902     j235   Placebo          5           46.588820                 0
1903     j235   Placebo         10           48.018788                 1
1904     j235   Placebo         15           51.161138                 1
1905     j235   Placebo         20           52.942902                 1

[1906 rows x 5 columns]

In [2]:
clinical_df.shape

(1893, 4)

## Tumor Response to Treatment

In [18]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
grouped_by_d_t = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean()
grouped_by_d_t

Drug       Timepoint
Capomulin  0            45.000000
           5            44.266086
           10           43.084291
           15           42.064317
           20           40.716325
                          ...
Zoniferol  25           55.432935
           30           57.713531
           35           60.089372
           40           62.916692
           45           65.960888
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [19]:
# Convert to DataFrame
grouped_by_d_t_df = combined_df.groupby(["Drug","Timepoint"])['Tumor Volume (mm3)'].mean().to_frame()
# Preview DataFrame
grouped_by_d_t_df

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
...                                 ...
Zoniferol 25                  55.432935
          30                  57.713531
          35                  60.089372
          40                  62.916692
          45                  65.960888

[100 rows x 1 columns]

In [24]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
grouped_by_d_t_df.sem(axis=1,skipna = False, ).to_frame()

# Convert to DataFrame

# Preview DataFrame

                      0
Drug      Timepoint
Capomulin 0         NaN
          5         NaN
          10        NaN
          15        NaN
          20        NaN
...                  ..
Zoniferol 25        NaN
          30        NaN
          35        NaN
          40        NaN
          45        NaN

[100 rows x 1 columns]

In [6]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [7]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [8]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [9]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [10]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [11]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [12]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [13]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [14]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [15]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [16]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [17]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

NameError: name 'fig' is not defined

![Metastatic Spread During Treatment](../Images/change.png)